@font-face {
    font-family: 'SVN_Sofia';
    src: url('../public/fonts/2/svn-sofia/SVN-Sofia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* src: url('../public/fonts/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf') format('truetype'); */
/* src: url('../public/fonts/2/svn-sofia/SVN-Sofia.ttf') format('truetype'); */
/* src: url('../public/fonts/2/vn-sunshine-script/vn-sunshine-script.ttf') format('truetype'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SVN_Sofia', sans-serif;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background-color: #fcfcfc;
}
a {
    text-decoration: none;
    color: inherit;
}
hr {
    border: none;
    height: 1px;
    background-color: #a9a9a9;
}
.app-content {
    display: flex;
}
