@font-face {
    font-family: 'Magnificent';
    src: url('../public/fonts/2/svn-magnificent/SVN-Magnificent/SVN-Magnificent.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* src: url('../public/fonts/DesignerVN-Poppins/DesignerVN-Poppins-Regular.ttf') format('truetype'); */
/* src: url('../public/fonts/sendflowers-regular/SendFlowers-Regular.ttf') format('truetype'); */
/* src: url('../public/fonts/2/svn-sigokae/SVN-Sigokae/SVN-Sigokae.otf') format('opentype'); */
/* src: url('../public/fonts/2/svn-sofia/SVN-Sofia.ttf') format('truetype'); */
/* src: url('../public/fonts/2/vn-sunshine-script/vn-sunshine-script.ttf') format('truetype'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Magnificent', sans-serif;
}
body {
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
.app {
    width: 80%;
    margin: auto;
}
